face_mask_detection
face_mask_dataset
.ipynb_checkpoints/german_credit_data-checkpoint.ipynb
.ipynb_checkpoints/Milestones2-checkpoint.ipynb
.ipynb_checkpoints/patient-charges-clustering-and-regression-checkpoint.ipynb
.ipynb_checkpoints/predicting-credit-risk-model-pipeline-checkpoint.ipynb
